.card_label{
    position: absolute;
    bottom: 90px;
    right: 0;
    
}
.card-label_container{
    display: flex;
    align-items: center;
    background-color: #0d0d0dea;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    padding: 0px 50px;
}