.card_container{
    width: 350px;
    height: 500px;
    margin: auto;
    padding-top: 100px;
    display: flex;
    position: relative;
    justify-content: space-around;
    
    border-radius: 10px;
    flex-wrap: wrap;
    align-items: baseline;
    overflow: hidden;
    margin-top: 10px;
}
.card-imagem{
    min-width: 100%;
    max-width: 350px;
    max-height: 500px;
    min-height: 100% ;
    transition: transform .8s;
}
.card-imagem:hover{
    transform: scale(1.1)

}