<div class="home-container">


<app-card 
    gameType="DISC"
    cardPrice="R$ 299,99"
    gameLabel="Exclusive"
    imagem="https://image.api.playstation.com/vulcan/ap/rnd/202107/3100/ki0STHGAkIF06Q4AU8Ow4OkV.png">

</app-card>

<app-card 
    gameType="Digital PS4"
    cardPrice="R$ 399,99"
    gameLabel="Rare"
    imagem="https://image.api.playstation.com/vulcan/ap/rnd/202207/1210/4xJ8XB3bi888QTLZYdl7Oi0s.png">

</app-card>
<app-card 
    gameType="DISC"
    cardPrice="R$ 199,99"
    gameLabel="Discount"
    imagem="https://image.api.playstation.com/cdn/UP1004/CUSA03041_00/Hpl5MtwQgOVF9vJqlfui6SDB5Jl4oBSq.png">

</app-card>
</div>